* {
          box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  outline: none;
}

body {
  overflow-y: scroll;
  background: #f9f9f9;
}

html {
}

html,body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12pt;
}

#page {
  display: block;
  padding: 10pt;
  min-height: 500pt;
  max-width: 120em;
  margin: auto;
}

header {
  font-weight: bold;
}

#topbar {
  position: relative;
  background: white;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
}

#topbar>header {
  display: block;
  padding: 0.5em;
}

#userbox {
  position: absolute;
  padding: 0.5em;
  right: 0;
  top: 0;
}

.user {
  color: rgb(0,0,100);
  font-weight: bold;
}

nav {
  width: 100%;
  font-size: 0;
  border-bottom: 1px solid rgb(180,180,180);
  position: absolute;
  bottom: 0px;
}

nav ul.toplinks {
  font-size: 12pt;
  max-width: 120em;
  margin: 0px auto;
  padding: 0px;
  padding-left: 20px;
}

nav ul.toplinks * {
}

nav ul.toplinks>li {
  display: inline-block;
  margin-bottom: -1px;
  position: relative;
}

nav ul.toplinks>li a {
  color: black;
  display: table-cell;
  text-decoration: none;
  padding: 0.25em 1.0em;
  border: 1px solid rgba(0,0,0,0);
  border-bottom: none;
  color: #888888;
}

nav ul.toplinks>li a.chosen {
  color: black;
}

ul.paginator {
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
  padding-left: 10px;
  height: 30pt;
  font-size: 0px;
  vertical-align: center;
  cursor: default;
}

ul.paginator * {
  font-size: 12pt;
}

ul.paginator>li>a {
  border: 1px solid rgba(0, 0, 0, 0.0980392);
  background: rgb(230,230,230);
  display: inline-block;
  text-decoration: none;
  text-align: center;
  position: relative;
  color: black;
  margin-right: -1px;
  min-width: 3.75em;
  padding: 0.25em 0em;
}

ul.paginator>li {
  display: inline-block;
  margin: 0.625em 0.0em;
  position: relative;
}

ul.paginator>li>a:not(.chosen) {
  cursor: pointer;
  background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(241, 241, 241));
}

ul.paginator>li>a.chosen {
  z-index: 1;
}

ul.paginator>li:first-child>a {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

ul.paginator>li:last-child>a {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

ul.paginator>li>a.inactive {
  color: rgba(255,255,255, 0.0);
  visibility: hdden;
  cursor: default;
}

ul.paginator>li>a:not(.inactive):hover {
  border: 1px solid rgb(200,200,200);
  color: rgb(0,0,100);
  z-index: 2;
}

ul.sublinks {
  text-align: left;
}

div#tabview {
  padding-left: 8pt;
  margin: auto auto;
  max-width: 96em;
}

div#content {
  margin-right: 26em;
}

article {
  margin: 4pt auto 25pt auto;
  max-width: 70em;
}

article section {
  background: white;
  padding: 1em 0.5em;
  margin: 5px 0px;
  border-radius: 2px;
  position: relative;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
}

article p {
  margin: 1em 2em;
}

article header {
  width: 100%;
  padding-bottom: 0.5em;
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
}

article textarea {
  width: 100%;
  min-height: 20em;
}

section.samples table {
  table-layout: fixed;
}

fieldset {
  border: none;
}

section.samples table * {
  vertical-align: top;
}

section.samples table td pre {
  max-height: 20em;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

table.windows td:nth-child(2) {
  width: 14em;
}

table.windows td:nth-child(3) {
  width: 10em;
}

section.samples td {
  width: 33.33%;
}

table {
  width: 100%;
}

div#widgets {
  display: block;
  margin: 0em 1em;
  width: 24em;
  float: right;
}

div.widget, div.widget>header {
  border-radius: 4px 4px 0px 0px;
}

div.widget {
  border: 1px solid rgb(200,200,200);
  border: none;
  margin: 0em 0em 1em 0em;
  width: 100%;
}

div.widget>header {
  background: rgb(230,230,230);
  background: none;
  border-bottom: 1px solid rgb(200,200,200);
  width: 100%;
  padding: 4pt;
}

div.widget>div.inside {
  padding: 1em 1em;
}

div.widget.folded>div.inside {
  display: none;
}

span.countdown {
  display: inline-block;
  width: 100%;
  padding: 0.5em;
  text-align: center;
  font-family: "Consolas", Monospace;
  font-weight: bold;
  font-size: 2em;
}

table {
  border-collapse: collapse;
  text-align: left;
  margin: 1em;
  width: calc(100% - 2em);
}

table th {
  padding: 0.25em 0em;
}

table td {
  padding: 0.25em 0em;
}

img.flag {
  vertical-align: middle;
  margin: 0.0em 0.5em;
  max-height: 24px;
  width: 32px;
}

th.problem {
  text-overflow: hidden;
  text-align: center;
  position: relative;
  width: 4em;
}

table.scoreboard tr.ineligible {
  font-style: italic;
  opacity: 0.5;
}

table.scoreboard td.correct, table.scoreboard td.wrong, table.scoreboard td.unsolved, table.scoreboard td.attempts, table.scoreboard td.judging {
  font-family: "Consolas", Monospace;
  text-align: center;
}

table.scoreboard td.score {
  text-align: right;
  padding-left: 1em;
}

table.scoreboard td.correct {
  font-weight: bold;
  color: green;

  background:         linear-gradient(left, transparent 15%, lightgreen 15%, lightgreen 85%, transparent 85%);
  background:     -ms-linear-gradient(left, transparent 15%, lightgreen 15%, lightgreen 85%, transparent 85%);
  background:    -moz-linear-gradient(left, transparent 15%, lightgreen 15%, lightgreen 85%, transparent 85%);
  background: -webkit-linear-gradient(left, transparent 15%, lightgreen 15%, lightgreen 85%, transparent 85%);
}

table.scoreboard td.correct.first-solver {
  color: white;

  background:         linear-gradient(left, transparent 15%, green 15%, green 85%, transparent 85%);
  background:     -ms-linear-gradient(left, transparent 15%, green 15%, green 85%, transparent 85%);
  background:    -moz-linear-gradient(left, transparent 15%, green 15%, green 85%, transparent 85%);
  background: -webkit-linear-gradient(left, transparent 15%, green 15%, green 85%, transparent 85%);
}

table.scoreboard td.wrong {
  color: blue;
}

table.scoreboard td.judging {
  color: blue;
  font-weight: bold;
}

table.scoreboard td.attempts {
  color: rgb(180,180,180);
}

table.scoreboard td .problem_penalty {
  display: block;
  font-size: 50%;
}

table.scoreboard a {
  color: inherit;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}

section.samples table {
  border-spacing: 0.5em;
  border-collapse: separate;
}

section.samples table th {
  text-align: center;
}

section.samples table td {
  background: white;
  white-space: pre-wrap;
  font-family: "Consolas", Monospace;
  padding: 1em;
  border: none;
}

th.points, th.penalty {
  width: 4em;
}

table.submissions .correct {
  color: green;
  font-weight: bold;
}

table.submissions .wrong {
  color: blue;
}

table.submissions .judging {
  color: blue;
  font-weight: bold;
}

input, label {
  margin: 1.0em 0.5em;
  padding: 0.5em 0.5em;
  vertical-align: middle;
  height: auto;
}

input[type="radio"] {
  outline: none;
}

input[type="radio"]:hover, input[type="file"]:hover, label:hover {
  background: rgb(230,230,230);
  outline: 1px solid rgb(200,200,200);
}

input[type="radio"]:checked+label {
  outline: 1px solid rgb(0,0,0);
}

#small_problem_set ol {
  list-style-type: upper-alpha;
  margin: 0px 0px;
}

.danger {
  font-weight: bold;
  color: red;
}

code pre {
  padding: 1em;
  font-size: 10pt;
  font-family: "Consolas", "Liberation Mono", Monospace;
  border: 1px solid rgb(180,180,180);
  background: rgb(230,230,230);
}

.samples tr td {
  position: relative;
}

.samples tr.pending:after {
  content: '?';
  color: grey;
  font-size: 200%;
  position: absolute;
  right: 0.25em;
  top: 0.25em;
}

.samples tr.correct:after {
  content: '✓';
  color: green;
  font-size: 200%;
  position: absolute;
  right: 0.25em;
  top: 0.25em;
}

.samples tr.incorrect:after {
  content: '✗';
  color: blue;
  font-size: 200%;
  position: absolute;
  right: 0.25em;
  top: 0.25em;
}

.samples tr.timelimit:after {
  content: '⏱';
  color: blue;
  font-size: 200%;
  position: absolute;
  right: 0.25em;
  top: 0.25em;
}

.samples tr.runtime-error:after {
  content: '⚠';
  color: blue;
  font-size: 200%;
  position: absolute;
  right: 0.25em;
  top: 0.25em;
}

.samples tr.judging {
  opacity: 0.5;
}

meter {
  vertical-align: middle;
  height: 0.75em;
  width: 8em;
}

table.windows td.running {
  color: black;
}

table.windows td.finished {
  color: #888888;
}
